<div class="jumbotron text-center">
        <h1>Mean_stack</h1>
        <p class='lead'> MEAN is a framework for an easy starting point with MongoDB, Node.js, Express, and AngularJS based applications. It is designed to give developers a quick and organized way to start developing MEAN based web apps with useful modules like Mongoose and Passport pre-bundled and configured.</p>
        <div>
          <a class="btn btn-primary btn-lg" [routerLink]="['/register']">Register</a>
          <a class="btn btn-default btn-lg" [routerLink]="['/login']">Login</a>
        </div>
</div>

<div class="row marketing">
        <div class="col-lg-6">
          <div>
          <h4 class='lead'>Mongodb</h4>
          <p>MongoDB (from humongous) is a free and open-source cross-platform document-oriented database program.</p>
          <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/MongoDB" role="button">View details &raquo;</a></p>
        </div>
        <div>

          <h4 class='lead'>Angular</h4>
          <p>AngularJS (commonly referred to as "Angular.js" or "AngularJS 1.X") is a JavaScript-based open-source front-end web application framework. </p>
          <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/AngularJS" role="button">View details &raquo;</a></p>
        </div>
        </div>
        <div class="col-lg-6">
          <div>
          <h4 class='lead'>Express</h4>
          <p>Express.js, or simply Express, is a web application framework for Node.js, released as free and open-source software under the MIT License.</p>
          <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Express.js" role="button">View details &raquo;</a></p>
        </div>
          <div>
          <h4 class='lead'>Nodejs</h4>
          <p>Node.js is an open-source, cross-platform JavaScript run-time environment for executing JavaScript code server-side. </p>
          <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Node.js" role="button">View details &raquo;</a></p>
        </div>
        </div>
</div>
